*{ 
box-sizing: border-box;
margin: 0;
padding: 0;
}

img{
    max-width: 100%;
}

.body {
   background-color: #F6F0EB;
}

.header {
    text-align: center;
    font-family: "Didact Gothic";
    font-size: 5rem;
    font-weight:700;
    color: #B5DCCD;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.site-nav {
    list-style-type: none;
    font-family: "Didact Gothic";
    display: inline;
    text-align: center;
    font-size: 2rem;    
}

.site-nav li {
    display: inline;
}    

.site-nav a {
    text-decoration: none;
    color: #392313;
    padding: 4rem;
}

.site-nav a:hover {
    font-size: 2.5rem;
}

.paragraph {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 10rem;
    margin-top: 5rem;
}

.hi {
    color: #B5DCCD;
    font-family: "Didact Gothic";
    font-size: 2.5rem;
    font-weight: 3rem; 
    margin-right: 1rem;  
}
   
.aboutme {
    color: #AB7550;
    font-size: 1.1rem;
    font-family: "Didact Gothic";
    margin-right: 50rem;
}

.pic {
    border-radius: 40%;
    border: #B5DCCD; 
    border-width: 4rem; 
    margin-top: 2rem;
    align-content: left;  
}

.skills {
    margin-top: 5rem;
    margin-right: 15rem;
    margin-left: 15rem;
    color: #744622;
    font-family: "Didact Gothic";
    font-size: 1.5rem;
    font-weight: bolder;
    /* border: solid #AB7550 3px; */
    /* border-radius: 40%; */
    padding: .4rem;
    background-color: #B5DCCD;
}

.expandedu {
    margin-top: 2rem;
    margin-right: 15rem;
    margin-left: 15rem;
    color: #744622;
    font-family: "Didact Gothic";
    font-size: 1.5rem;
    font-weight: bolder;
    /* border: solid #AB7550 3px; */
    /* border-radius: 40%; */
    padding: .4rem;
    background-color: #B5DCCD;
}

.resume {
    color: #AB7550;
    font-size: 1.1rem;
    font-family: "Didact Gothic";
    text-align: center;
    margin-top: 2rem;
}